* {
  box-sizing: border-box; }

body {
  font-family: Helvetica; }

#start {
  color: white;
  background: black;
  text-decoration: none;
  padding: 10px 20px; }
  #start:hover {
    background: #333; }

.goal-calendar {
  margin: 0 auto 0;
  width: 90%; }

.day {
  background: white;
  border: black 1px solid;
  border-top: black 5px solid;
  float: left;
  position: relative;
  height: 0;
  width: 12.57143%;
  padding-bottom: 12.57143%; }
  .day:nth-child(n) {
    margin-bottom: 2%;
    margin-right: 2%; }
  .day:nth-child(7n) {
    margin-right: 0; }
  .day .date {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0; }

.days-left {
  background: red;
  font-size: 18px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.completed {
  background: green; }
